<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
    <span class="statusCmd" style="position : absolute;right : 5px; width : 30px;z-index: 1030;"></span>
    <center class="widget-name">
        <span class="warning" title="#alert_name#">
            <i class='#alert_icon#'></i>
        </span>
        <span class="reportModeVisible">#name_display#
            <span class="object_name">#object_name#</span> 
        </span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>

    <div class="classContenant#uid#" id="idActual#uid#">
        <div class="classTitle#uid#" data-cmd_id="#cmd_model_id#">
          <span id="cmd_model_id#uid#" class="title"></span>
        </div>
        <div class="classStatus#uid# history cursor" data-cmd_id="#cmd_nozzleTemp_id#">
          <span id="cmd_nozzleTemp_id#uid#" class="title"></span>
        </div>
        <div class="classStatus#uid# history cursor" data-cmd_id="#cmd_bedTemp_id#">
          <span id="cmd_bedTemp_id#uid#" class="title"></span>
        </div>
        <div class="classStatus#uid# history cursor" data-cmd_id="#cmd_fan_id#">
          <span id="cmd_fan_id#uid#" class="title"></span>
        </div>
    </div>
    <div class="classContenant#uid#" id="idInPrinting#uid#">
        <div class="classStatus#uid#" data-cmd_id="#cmd_state_id#">
          <span id="cmd_state_id#uid#" class="title"></span>
        </div>
        <div class="classStatus#uid# history cursor" data-cmd_id="#cmd_printStartTime_id#">
          <span id="cmd_printStartTime_id#uid#" class="title"></span>
        </div>
        <div class="classStatus#uid# history cursor" data-cmd_id="#cmd_layer_id#">
          <span id="cmd_layer_id#uid#" class="title"></span>
        </div>
        <div class="classStatus#uid# history cursor" data-cmd_id="#cmd_printProgress_id#">
          <span id="cmd_printProgress_id#uid#" class="title"></span>
        </div>
    </div>


    <style>
        .classContenant#uid# {
            width: 100%;
            height: 15%;
            color: #000000;
        }
        .classTitle#uid# {
            position: relative;
            width: 104%;
            left: -2%;
            text-align: left;
            background-color: #E0E0E0;
            color: #808080;
        }
        .classStatus#uid# {
            position: relative;

        }
        #idValueName#uid# {
            position: relative;
            width: 100%;
            left: 20px;
            text-align: left;
            font-size: 14px;
            color: #000000;
        }
        #idValue#uid# {
            position: absolute;
            width: 100%;
            right: 20px;
            text-align: right;
            font-size: 14px;
            color: #808080;
        }
        .progress#uid# {
            height: 20px !important;
            background-color: var(--sc-form-color);
        }
        #idProgress#uid# {
            display: inline-flex;
            width: 40%;
            float: right;
            margin-right: 5px;
        }
    </style>
    <script type="text/javascript">

      
    jeedom.cmd.update['#cmd_model_id#'] = function (_options) {
        $('#cmd_model_id#uid#').html('<span id="idValueName#uid#">#device_hostname# #device_ip# </span> <span id="idValue#uid#">'+_options.display_value+'</span>');
    }
    jeedom.cmd.update['#cmd_model_id#']({display_value: '#cmd_model_value#'});

    jeedom.cmd.update['#cmd_bedTemp_id#'] = function (_options) {
        $('#cmd_bedTemp_id#uid#').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate);
        $('#cmd_bedTemp_id#uid#').html('<span id="idValueName#uid#">#cmd_bedTemp_name# :</span> <span id="idValue#uid#">'+_options.display_value+' °C</span>');
    }
    jeedom.cmd.update['#cmd_bedTemp_id#']({display_value: '#cmd_bedTemp_value#', valueDate: '#cmd_bedTemp_valueDate#', collectDate: '#cmd_bedTemp_collectDate#'});

    jeedom.cmd.update['#cmd_nozzleTemp_id#'] = function (_options) {
        $('#cmd_nozzleTemp_id#uid#').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate);
        $('#cmd_nozzleTemp_id#uid#').html('<span id="idValueName#uid#">#cmd_nozzleTemp_name# :</span> <span id="idValue#uid#">'+_options.display_value+' °C</span>');
    }
    jeedom.cmd.update['#cmd_nozzleTemp_id#']({display_value: '#cmd_nozzleTemp_value#', valueDate: '#cmd_nozzleTemp_valueDate#', collectDate: '#cmd_nozzleTemp_collectDate#'});
      
    jeedom.cmd.update['#cmd_fan_id#'] = function (_options) {
        $('#cmd_fan_id#uid#').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate);
        $('#cmd_fan_id#uid#').html('<span id="idValueName#uid#">#cmd_fan_name# :</span> <span id="idValue#uid#">'+_options.display_value+' %</span>');
    }
    jeedom.cmd.update['#cmd_fan_id#']({display_value: '#cmd_fan_value#', valueDate: '#cmd_fan_valueDate#', collectDate: '#cmd_fan_collectDate#'});
     
     
    jeedom.cmd.update['#cmd_state_id#'] = function (_options) {
        $('#cmd_state_id#uid#').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate);
        $('#cmd_state_id#uid#').html('<span id="idValueName#uid#">#cmd_state_name# :</span> <span id="idValue#uid#">'+_options.display_value+'</span>');
    }
    jeedom.cmd.update['#cmd_state_id#']({display_value: '#cmd_state_value#', valueDate: '#cmd_state_valueDate#', collectDate: '#cmd_state_collectDate#'});

    jeedom.cmd.update['#cmd_printStartTime_id#'] = function (_options) {
        var date = new Date(_options.display_value * 1000);
        var hours = date.getHours();
        var minutes = "0" + date.getMinutes();
        var seconds = "0" + date.getSeconds();
        var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
        $('#cmd_printStartTime_id#uid#').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate);
        $('#cmd_printStartTime_id#uid#').html('<span id="idValueName#uid#">#cmd_printStartTime_name# :</span> <span id="idValue#uid#">'+formattedTime+'</span>');
    }
    jeedom.cmd.update['#cmd_printStartTime_id#']({display_value: '#cmd_printStartTime_value#', valueDate: '#cmd_printStartTime_valueDate#', collectDate: '#cmd_printStartTime_collectDate#'});
      
    jeedom.cmd.update['#cmd_layer_id#'] = function (_options) {
        $('#cmd_layer_id#uid#').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate);
        $('#cmd_layer_id#uid#').html('<span id="idValueName#uid#">#cmd_layer_name# :</span> <span id="idValue#uid#">'+_options.display_value+'</span>');
    }
    jeedom.cmd.update['#cmd_layer_id#']({display_value: '#cmd_layer_value#', valueDate: '#cmd_layer_valueDate#', collectDate: '#cmd_layer_collectDate#'});
      
    jeedom.cmd.update['#cmd_printProgress_id#'] = function (_options) {
      console.log(_options)
        $('#cmd_printProgress_id#uid#').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate);
        $('#cmd_printProgress_id#uid#').html('<span id="idValueName#uid#">#cmd_printProgress_name# :</span> <div id="idProgress#uid#" class="progress#uid#"><span id="idValue#uid#">'+_options.display_value+' %</span></div>');
        let val = parseInt(_options.display_value);
        $('#idProgress#uid#').progressbar({ value: val });
        $('#idProgress#uid# > .ui-progressbar-value').addClass("progress-bar-striped");
    }
    jeedom.cmd.update['#cmd_printProgress_id#']({display_value: '#cmd_printProgress_value#', valueDate: '#cmd_printProgress_valueDate#', collectDate: '#cmd_printProgress_collectDate#'});
      
      
      
	</script>
</div>